@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  overflow-x: scroll; /* For horiz. scroll, otherwise overflow-y: scroll; */

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  background-color: black;
  min-height: 100vh
}

.seek-bar {
  @apply w-full h-[5px] rounded-sm overflow-hidden cursor-pointer bg-[rgba(255,255,255,0.20)] appearance-none;

  &::-webkit-slider-thumb {
    @apply w-1 h-[20px] shadow-[-400px_0px_0px_400px_rgba(255,255,255)] appearance-none;
  }
}

/* .seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: rgba(255,255,255,0.20);
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  box-shadow: -400px 0 0 400px white;
} */
