@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  overflow-x: scroll; /* For horiz. scroll, otherwise overflow-y: scroll; */

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  background-color: black;
}

/* .seek-bar{
    @apply w-full h-5 rounded-sm overflow-hidden cursor-pointer bg-green-500 ;

    &::-webkit-slider-thumb{
        @apply w-1 h-20 shadow-green-400 appearance-none;
    }
} */

.seek-bar{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #7fc8a9;
    overflow: hidden;
    cursor: pointer;
}

.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px white;
}
