@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    overflow-x: scroll; /* For horiz. scroll, otherwise overflow-y: scroll; */

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

body {
    background-color: black;
}